<?xml version="1.0" encoding="UTF-8"?>
<launch>

<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bot_description)/urdf/bot_description.xacro'"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch" />
<arg name="x" default="0"/>
<arg name="y" default="0"/>
<arg name="z" default="0"/>

<node name="manas_bot_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -param robot_description -model manas_bot -x $(arg x) -y $(arg y) -z $(arg z)"/>

</launch>